<div>
  <div class="modal-header">
      <h3 class="modal-title">Choose an inbox</h3>
  </div>
  <div class="modal-body">
    <div class="pane" style="overflow:hidden">
    <h3>Assignments</h3>
    <div class="tile" style="overflow:hidden" ng-repeat="assignment in assignments">
        <a ng-click="loadAssignment(assignment.id)">
            <img src="{{assignment.cover_art_url}}"/>
        </a>
        <div style="float: left; max-width: 80%;">
            <div>
              <a ng-click="loadAssignment(assignment.id)">
                  <h3>{{assignment.title}}</h3>
              </a>
            </div>
        </div>
        <!--
        <div>
          <div style="float: right;">
            <div class="links">
                <a href="#" class="iconlink" title="${python: '\n'.join([pin.lemma for pin in session.pins])}">
                    ${python: len(session.pins)} <i class="icon-pushpin"></i>
                </a>
            </div>
            <div class="links">
                <a class="iconlink deletelink" href="javascript:confirm_delete_session('${session.title}', function() {delete_session(${session.id})})" data-ajax="false">
                    <i class="icon-trash"></i>
                </a>
                <a class="iconlink" href="${session.website.url}" data-ajax="false">
                    <i class="icon icon-external-link"></i>
                </a>
            </div>
          </div>
        </div>
        -->
    </div>
  </div>
</div>
