<div class="feed-container" nv-file-drop uploader="uploader" options="{url: '/upload'}">
 <div>
  <div class="myrow">
   <div class="dropzone col-12">
<!--
    <div class="btn-group" uib-dropdown uib-keyboard-nav>
        <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
            Feedback collections <span class="caret"></span>
        </button>
        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <li role="menuitem" ng-repeat="collection in feedbackCollections">
          <a href="#">{{collection}}</a>
        </li>
        </ul>
    </div>
-->
<select class="selectpicker" ng-model="feedbackTemplateCollection" ng-options="collection for collection in feedbackTemplateCollections" ng-chane="getFeedbackTemplates();" autofocus>
</select>
<!--
    <input ng-model="feedbackTemplateCollection" type="text"
          placeholder="Feedback template collection" autofocus>
-->
     <button ng-click="getFeedbackTemplates(); getFeedbackTemplateCollections(); ev.preventDefault();">Update</button>
   </div>
  </div>
  <div class="myrow">
   <div class="col-12">
    <input ng-model="query" type="text"
         placeholder="Filter by" autofocus>
   </div>
  </div>
  <div class="myrow">
   <div class="dropzone col-12">
    <ul dnd-list="feedbackTemplates" 
        dnd-dragover="dragoverCallback(index, external, type)"
        dnd-drop="dropCallback(index, item, external, type)"
        class="itemlist">
     <li ng-repeat="template in feedbackTemplates | filter:query track by $index"
         dnd-draggable="template"
         dnd-moved="list.splice($index, 1)"
         dnd-effect-allowed="move"
         dnd-selected="models.selected = template"
         dnd-dragend="dragendCallback(event)"
         dnd-dragstart="dragstartCallback(event, template)"
         class="tiny-font"
         style="width: calc(25% - 10px)"
         ng-click="$parent.selectedTemplate = template.template;"
         ng-class="{'selected': models.selected === template}"
         >
         {{template.description}}
     </li>
    </ul>
<!--
    <select id="feedback-template-selector" name="selectedFeedbackTemplate" multiple ng-options="template.template as template.description for (key, template) in feedbackTemplates" ng-model="selectedTemplate">
    </select>
-->
   </div>
  </div>
  <div class="myrow">
   <div
        dnd-drop="dropCallback(index, item, external, type)"
        class="dropzone col-12">
     <textarea style="font-size: 10pt; width: 100%;" placeholder="Template preview..." id="feedback-template-textview" ng-model="selectedTemplate" autocomplete="off"/>
   </div>
  </div>
  <form action="" id="create-feedback-form" class="form-container">
   <div class="myrow">
    <div class="dropzone col-12">
     Student: {{boardData.boards[boardData.boardId].user.firstname}}
     Feedback: <button ng-repeat="feedback in boardData.boards[boardData.boardId].feedback" uib-popover="{{ feedback.data.message }}" popover-title="{{feedback.data.title}}" popover-trigger="mouseenter" type="button" class="btn btn-default">{{ $index+1 }}</button>
    </div>
   </div>

   <div class="myrow">
    <div class="dropzone col-12">
     <textarea id="feedback-textarea" style="min-height: 150px; font-size: 10pt; width: 100%;" placeholder="Type feedback" id="m" ng-model="feedback" autocomplete="off" ondragenter="dragenterCallback(event);"/>
    </div>
   </div>
   </fieldset>
   <!--
   <div class="myrow">
    <div class="col-12">
     <input type="file" nv-file-select uploader="uploader"  options="{url: '/upload', formData: [{'task_json': task_json, 'selectedUsers': selectedUsers}] }"/><br/>
     <ul>
      <div class="file-drop-area" nv-file-over uploader="uploader">Drag file here</div>
      <li ng-repeat="item in uploader.queue">
          Name: <span ng-bind="item.file.name"></span><br/>
          <button ng-click="item.upload()">upload</button>
      </li>
     </ul>
    </div>
   </div>
   -->
   Grade: <select class="selectpicker" ng-model="grade" ng-options="g for g in [1,2,3,4,5]"></select><br/>
   <button type="button" ng-click="clearFeedbackForm();">Clear</button>
   <button type="submit" class="submit">Create</button>
  </form>
 </div>
</div>
