<div class="task-container">
<button type="button" id="task-toggle-button" onclick="toggleTaskForm()">Hide task</button>
<button type="button" id="task-submit-button">Submit</button>
<div id="task-popup">
<div id="task-data-container"></div>
{{ task.directions }}
<!--
<form action="" id="task-form" class="form-container">
  <textarea placeholder="Type message..." id="m" autocomplete="off" /><button>Send</button>
</form>
<button type="button" class="cancel" onclick="closeTaskForm()">Hide</button>
-->
</div>
</div>

