<div id="board-overlay">
    <!--
  <div id="interactive-space" class="split">
    -->
  <div id="interactive-space">
      <!--<div id="drawing-space" class="split split-horizontal">-->
    <div id="drawing-space">
      <div id="board-container">
      </div>
      <!--<pinch-zoom>-->
        <div wb-background>
        </div>
      <!--</pinch-zoom>-->
    </div>
    <!--
    <div id="feed-space" wb-feed class="split split-horizontal"></div>
    -->
    <div id="board-selector-container" class="float-se">
      <button type="button" ng-click="submit()" id="task-submit-button">Submit task</button>
      <a ng-repeat="board in boardData.boards track by $index" ng-click="$parent.setBoardId(board.id);"> {{ $index+1 }}</a>
    </div>
  </div>
  <!--
  <div id="task-space" class="split">
    <div id="task-container" class="split split-horizontal">
    <div id="task-container">
      <button type="button" id="task-toggle-button" onclick="toggleTaskForm()">Hide task</button>
      <button type="button" id="task-submit-button">Submit</button>
      <div wb-task-view></div>
    </div>
    <div id="board-selector-container" class="split split-horizontal">
  </div>
  -->
</div>
