<div>
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Load student view</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <p>
            Student name: <input type="text" ng-model="userFilter" uib-typeahead="user as (user.firstname + ' ' + user.lastname) for user in $ctrl.users | filter:$viewValue |limitTo:8" typeahead-select-on-exact="true" typeahead-on-select="console.log" autofocus/>
            </p>
            <ul>
                <li ng-repeat="user in $ctrl.users | filter:userFilter | limitTo:30">
                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selectedUser = user">{{ user.firstname }} {{user.lastname }}</a>
                </li>
            </ul>
            Selected: <b>{{ $ctrl.selectedUser.firstname }} {{ $ctrl.selectedUser.lastname }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
</div>
