<div>
<input ng-model="query" type="text"
        placeholder="Filter by" autofocus>
<input ng-repeat-start="field in Object.keys(feedbackList[0])" type="radio" ng-model="orderBy" name="orderBy" id="{{ 'orderBy'+$index }}" value="{{ field }}">
<label ng-repeat-end for="{{ 'orderBy'+$index }}">{{ field }}</label>
<br>
<table id="feedbackList">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Task</th>
        <th>Submitted</th>
        <th>Graded</th>
        <th>Feedback</th>
        <th>Schoology message</th>
        <th>Send Schoology message</th>
    </tr>
<tr ng-repeat="feedback in feedbackList | filter:query | orderBy: orderBy ">{{feedback}}
    <td>{{ feedback.submission.user.firstname }}</td>
    <td>{{ feedback.submission.user.lastname }}</td>
    <td>{{ feedback.submission.task.data.title }}</td>
    <td>{{ feedback.datetime }}</td>
    <td>{{ feedback.graded }}</td>
    <td>{{ feedback.data.feedback_tags.join() }}</td>
    <td><a ng-show="feedback.schoology_message_id" ng-href="https://app.schoology.com/messages/view/{{ feedback.schoology_message_id }}" target="_blank">Open</a></td>
    <td><button ng-click="sendSchoologyMessage(feedback)">Send</button></td>
</tr>
</table>
</div>
