<div>
  <div class="container">
      <div id="assignment-selector-container">
          <form action="">
              <div class="row">
              <div class="col-4">
              <select id="user-selector" name="selectedUsers" ng-model="selectedUsers" multiple>
                  <option ng-repeat="user in users" value="{{user.id}}">{{user.firstname}} {{user.lastname}}</option>
              </select>
              </div>
              <div class="col-4">
              <select id="assignment-selector" name="selectedAssignment" ng-model="selectedAssignment" multiple>
                  <option ng-repeat="assignment in assignments" value="{{assignment}}">{{assignment}}</option>
              </select>
              </div>
              <div class="col-4">
              <select id="task-selector" name="selectedTasks" ng-model="selectedTasks" multiple>
                  <option ng-repeat="task in tasks" value="{{task}}">{{task}}</option>
              </select>
              </div>
              </div>
              </div>
              
              <div class="row">
              <div class="col-12">
                <div id="assignment-graph" style="text-align: center;"></div>
              </div>
              </div>
          </form>
      </div>
    <form action="" id="create-feedback-form" class="form-container">
      <button type="submit" class="submit">Create</button>
    </form>
  </div>
</div>
