<div>
    <style>
    body {
      padding: 20px;
    }
    .list-group-item {
      cursor: move;
      cursor: -webkit-grabbing;
    }
    </style>
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <h4 class="text-center">Products</h4>

        <!-- product list -->
        <div class="roomList" class="list-group list-group-flush" ng-repeat="(room_id, room) in rooms">
            <span style="display:none;" class="room">{{room_id}}</span>
          <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="student in room">
              <span>
            <span style="display:none;" id="student_id[]">{{student.id}}</span>
                  <span class="font-weight-bold">{{$index + 1}}</span>. <span id="student[]">{{student.firstname}} {{student.lastname}}</span></span>
            <span class="badge badge-primary badge-pill">21</span>
          </li>
        </div>
        <br>
        <div class="text-center">
          <button type="button" id="generateJSON" class="btn btn-info">Generate JSON</button>
        </div>
      </div>

      <div class="col-md-6">
        <h4 class="text-center">JSON</h4>
        <pre id="printCode"></pre>
      </div>

    </div>
  </div>


</div>
