<div>
<div class="row">
<form id="get-submissions-metadata-form" action="">
<input ng-model="grade_item_id" type="text" placeholder="Schoology grade item id" autofocus>


<label ng-repeat="section in sections">
  <input
    type="checkbox"
    name="section_ids[]"
    value="{{section.schoology_id}}"
    ng-model="section.selected"
    > {{section.description}}
</label>

<table>
    <tr>
        <th>
  <input
    type="checkbox"
    name="allSubmissionsSelected"
    ng-model="allSubmissionsSelected"
    ng-click="toggleSelectAllSubmissions();"
    >
        </th>
        <th>
            Firstname
        </th>
        <th>
            Lastname
        </th>
        <th>
            Filename
        </th>
        <th>
            Fetched
        </th>
        <th>
            Download link
        </th>
    </tr>
    <tr ng-repeat="submissionMetadata in schoologySubmissionsMetadata[grade_item_id] || []">
        <td>
  <input
    type="checkbox"
    name="selectedSubmissions[]"
    value="{{$index}}"
    ng-model="submissionMetadata.selected"
    >
        </td>
        <td>{{submissionMetadata.user.firstname}}</td>
        <td>{{submissionMetadata.user.lastname}}</td>
        <td>{{submissionMetadata.filename}}</td>
        <td>{{submissionMetadata.fetched}}</td>
        <td><a ng-href="{{'/schoology_data/'+submissionMetadata.uid+'-'+submissionMetadata.grade_item_id+'-'+submissionMetadata.filename}}" target="_blank">download</a></td>
    </tr>
</table>
<button type="button" class="button" ng-click="confirmSchoology(getSchoologySubmissionsMetadata);">Download metadata</button>
<button type="button" class="button" ng-click="clearSchoologySubmissionsMetadata();">Clear metadata</button>
<button type="button" class="button" ng-click="confirmSchoology(downloadSchoologySubmissions);">Download submissions</button>
</form>
</div>
<div class="row">
<form id="process-submissions-form" action="">
  <select id="assignment-selector" name="selectedAssignment" ng-model="selectedAssignment" ng-change="getAssignmentTasks(selectedAssignment)">
      <option ng-repeat="assignment in assignments" value="{{assignment}}">{{assignment}}</option>
  </select>

  <table>
      <tr>
          <th>Task</th>
          <th>Page number</th>
      </tr>
      <tr ng-repeat="task in tasks">
          <td><label>
  <input
    type="checkbox"
    name="selected_tasks[]"
    value="{{task.source}}"
    ng-model="task.selected"
    > {{task.source}}
</label>
          </td>
  <td>
  <input
    type="text"
    name="taskPages[]"
    ng-model="task.page"
    >
  </td>
      </tr>
  </table>
<button type="button" class="button" ng-click="importSchoologySubmissions();">Process submissions</button>
</form>
</div>
<div>
<input ng-model="query" type="text"
        placeholder="Filter by" autofocus>
<input ng-repeat-start="field in Object.keys(submissions[0])" type="radio" ng-model="orderBy" name="orderBy" id="{{ 'orderBy'+$index }}" value="{{ field }}">
<label ng-repeat-end for="{{ 'orderBy'+$index }}">{{ field }}</label>
<br>
<table id="submissions">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Task</th>
        <th>Submitted</th>
        <th>Graded</th>
        <th>Feedback</th>
    </tr>
<tr ng-repeat="submission in submissions | filter:query | orderBy: orderBy ">{{submission}}
    <td>{{ submission.user.firstname }}</td>
    <td>{{ submission.user.lastname }}</td>
    <td>{{ submission.task.data.title }}</td>
    <td>{{ submission.datetime }}</td>
    <td>{{ submission.graded }}</td>
    <td>{{ submission.feedback.length }}</td>
</tr>
</table>
</div>
</div>
