<div class="row">
<form action="">
<input ng-model="grade_item_id" type="text" placeholder="Schoology grade item id" autofocus>
              <select id="assignment-selector" name="selectedAssignment" ng-model="selectedAssignment" ng-change="getAssignmentTasks(selectedAssignment)">
                  <option ng-repeat="assignment in assignments" value="{{assignment}}">{{assignment}}</option>
              </select>

<label ng-repeat="task in tasks">
  <input
    type="checkbox"
    name="tasks[]"
    value="{{task}}"
    ng-checked="selection.indexOf(task) > -1"
  > {{task}}
  <input
    type="text"
    name="slides[]"
  > 
</label>

<label ng-repeat="section in sections">
  <input
    type="checkbox"
    name="section_id[]"
    value="{{section.id}}"
    ng-checked="selection.indexOf(section) > -1"
    ng-click="toggleSelection(section)"
  > {{section.description}}
</label>
<button type="submit" class="submit">Import</button>
</form>
</div>
<div>
<input ng-model="query" type="text"
        placeholder="Filter by" autofocus>
<input ng-repeat-start="field in Object.keys(submissions[0])" type="radio" ng-model="orderBy" name="orderBy" id="{{ 'orderBy'+$index }}" value="{{ field }}">
<label ng-repeat-end for="{{ 'orderBy'+$index }}">{{ field }}</label>
<br>
<table id="submissions">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Task</th>
        <th>Submitted</th>
        <th>Graded</th>
        <th>Feedback</th>
    </tr>
<tr ng-repeat="submission in submissions | filter:query | orderBy: orderBy ">{{submission}}
    <td>{{ submission.user.firstname }}</td>
    <td>{{ submission.user.lastname }}</td>
    <td>{{ submission.task.data.title }}</td>
    <td>{{ submission.datetime }}</td>
    <td>{{ submission.graded }}</td>
    <td>{{ submission.feedback.length }}</td>
</tr>
</table>
</div>
