<div nv-file-drop uploader="uploader" options="{url: '/upload', formData: ['test','asdf']}">
  <div class="container">
      <div id="task-selector-container">
          <form action="">
              <div class="row">
              <div class="col-6">
              <select id="socket-selector" name="selectedSockets" ng-model="selectedSockets" multiple>
                  <option ng-repeat="(socketId,socket) in sockets" value="{{socketId}}">{{socket.firstname}} {{socket.lastname}}</option>
              </select>
              </div>
              <div class="col-6">
              <select id="task-selector" name="selectedTasks" ng-model="selectedTasks" multiple>
                  <option ng-repeat="task in tasks" value="{{task.source}}">{{task.data.title}}</option>
              </select>
              </div>
              </div>
          </form>
      </div>
    <!--<form action="" id="assign-task-form" class="form-container">
      <textarea style="width: 100%;" placeholder="Type instructions for task..." id="m" ng-model="task_json" autocomplete="off" />
    <button type="submit" class="submit">Assign</button>
    </form>
    -->
          <input type="file" nv-file-select uploader="uploader"/><br/>
        <ul>
            <div class="file-drop-area" nv-file-over uploader="uploader">Drag file here</div>
            <!--
            <li ng-repeat="item in uploader.queue">
                Name: <span ng-bind="item.file.name"></span><br/>
                <button ng-click="item.upload()">upload</button>
            </li>
            -->
        </ul>
  </div>
</div>
