<div>
  <div class="container">
      <div id="task-selector-container">
          <form action="">
              <select id="task-selector" name="task" multiple>
                  <option ng-repeat="(task_id, task) in tasks" value="{{task_id}}">{{task.title}}</option>
              </select>
          </form>
      </div>
    <form action="" id="assign-task-form" class="form-container">
      <textarea style="width: 100%;" placeholder="Type instructions for task..." id="m" ng-model="task" autocomplete="off" />
    <button type="submit" class="submit">Assign</button>
    </form>
  </div>
</div>
