fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
}
body {font-family: Arial;}

.nv-file-over {
    background-color: #ccc;
}
#task-selector {
    min-width: 10em;
}
#socket-selector {
    min-width: 10em;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.assignmentList {
    min-height: 50px;
    min-width: 100px;
    border: 1px solid;
    padding: 2px;
    margin: 5px;
}

.roomList {
    min-height: 50px;
    min-width: 100px;
    border: 1px solid;
    padding: 2px;
    margin: 5px;
    display: inline-flex;
}

