<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'tasks')">Tasks</button>
  <button class="tablinks" onclick="openTab(event, 'assignments')">Room assignments</button>
  <button class="tablinks" onclick="openTab(event, 'submissions')">Submissions</button>
</div>
<!-- <div class="room"> -->
<div id="tasks" class="tabcontent">
  <div wb-admin-tasks></div>
</div>
<div id="assignments" class="tabcontent">
  <div wb-admin-room-assignments></div>
</div>
<div id="submissions" class="tabcontent">
  <div ></div>
</div>
<!-- </div> -->
